body{background-color: black;
    background-image: url("/img/carbon-fiber-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page-wrapper{
    display: flex;
    height: 300vh;
    width: 100%
}
.main-block{
    margin: 5vw 2.5vw;
    display: flex;
    width: 100%;
    justify-content: center;
}
.pfp{
    height: 30vw;
    width: 30vw;
    border: solid white 1vw;
    border-radius: 50%;
    background-image: url("/img/pfp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
