body{
    background-color: black;
}

#page-wrapper{
    display: flex;
    width:100%;
    height: 100vh;
    background-image: url("/img/bbg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.green-streak-container{
    width: 45vw;
    height: 35vh;
    margin: 5vh 27.5vw 0 27.5vw;
    overflow: hidden;
}
.green-streak{
    width: 60vw;
    height: 15vh;
    margin: 7vh 0 0 -5vw;
    background-color: chartreuse;
    transform: rotate(170deg);
}
.blue-streak-container{
    width: 35vw;
    height: 30vh;
    margin: -10vh 32.5vw;
    overflow: hidden;
}
.blue-streak{
    width: 60vw;
    height: 15vh;
    background-color: midnightblue;
    margin: 5.5vh 0 0 -5vw;
    transform: rotate(170deg);

}






/*.page-wrapper{*/
/*    display: flex;*/
/*    height: 300vh;*/
/*    width: 100%*/
/*}*/
/*.main-block{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    margin: 5vw 2.5vw 5vw 5vw;*/
/*    justify-content: flex-start;*/
/*    background-color: #f9f7f4;*/
/*}*/
/*.pfp{*/
/*    height: 30vw;*/
/*    width: 30vw;*/
/*    border: solid white 1vw;*/
/*    border-radius: 50%;*/
/*    margin-left: 5vw;*/
/*    background-image: url("/img/pfp.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    position: absolute;*/
/*}*/
/*.name-profession-container {*/
/*    width: 70%;*/
/*    height: 20vw;*/
/*    margin: 5vw 5vw 0 28vw;*/
/*    background-color: azure;*/
/*    z-index: 1;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/
/*.name {*/
/*    background-color: red;*/
/*    width: 80%;*/
/*    height: 50%;*/
/*}*/
