body{
    background-color: black;
}

#page-wrapper{
    display: flex;
    width:100%;
    height: auto;
    background-image: url("/img/bbg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#resume-container{
    background-color: #FFFFEA;
    height: 80vw;
    width: 60vw;
    margin:5vw auto;
}
#pfp{
    background-image: url("/img/pfp.jpg");
    height: 10vw;
    width: 10vw;
    position: absolute;
    background-size: cover;
    /*background-position: center;*/
    border: solid #1d2040 5px;
    border-radius: 50%;
    margin: -12.5vw 2.5vw;
}
#heading{
    background-color: #1d2040;
    /*position: sticky;*/
    height: 10%;
    width: 80%;
    margin: 5% auto;
    /*padding-left: 20%;*/
    display: flex;
    flex-direction: column;
}
#heading h1{
    font-size: 5vw;
    color: #fff;
    margin: auto;
}
#heading h2{
    font-size: 1vw;
    color: #fff;
    margin: auto;
}