

body{
    background-color: black;
    --navy: #1d2040;
    --white: #fff;
}

#page-wrapper{
    display: flex;
    width:100%;
    height: auto;
    background-image: url("/img/bbg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#resume-container{
    background-color: #FFF;
    height: 80vw;
    width: 60vw;
    margin:5vw auto;
    display: flex;
    flex-direction: column;
}
#pfp{
    background-image: url("/img/pfp.jpg");
    height: 8vw;
    width: 8vw;
    background-size: cover;
    /*background-position: center;*/
    border: solid var(--navy) 5px;
    /*margin: -12.5vw 2.5vw;*/
}

#heading{
    background-color: var(--navy);
    width: 80%;
    margin: 5% auto;
    display: flex;
    /*padding: 0 1%;*/
    justify-content: space-between;
    align-items: center;
}
#name-occupation{
    display: flex;
    flex-direction: column;
}
#heading h1{
    font-size: 5vw;
    color: #fff;
    margin: 0;

}
#heading h2{
    font-size: 1vw;
    padding-bottom: .5vw;
    color: #fff;
    align-self: center;
    margin: 0;
}
.online-presence {
    padding: 0.25vw;
    margin: .5vw;
    background-color: white;
    border: solid var(--navy) 1px ;
    border-radius: 15%;}
.git{
    margin-bottom: .5vw;
height: 3vw;
width: 3vw;
background-image: url("/img/git.png");
background-size: cover;
}
.linkedin{
height: 3vw;
width: 3vw;
background-image: url("/img/linkedin.png");
background-size: cover;
}
.info{
    display: flex;
    height: 100%
}
.left-column{
    width:30%;
    margin: 0 1vw;
}
.left-column h1 {
    font-size: 2vw;
    color: #1d2040;
    margin: auto;
    display: flex;
    justify-content: center;
}
.left-column h2{
    font-size: 1.5vw;
    color: #1d2040;
    margin: 0;
}
.left-column h2 div{
    margin: 0;
}
.text{
    font-size: 1.25vw;
}
.cool-line{
    margin: 0 .5vw;
    border: solid #1d2040 .2vw;
}
.right-column{
    width: 70%;
}